{{ define "content" }}
<h1 class="text-center">login</h1>
<form
  class="form-signin center"
  role="form"
  action="/authenticate"
  method="post"
  onsubmit="return validateSignin();"
>
  <h2 class="form-signin-heading">
    <i class="fa fa-comments-o"> TodoApp </i>
  </h2>
  <input
    type="email"
    name="email"
    id="email"
    class="form-control"
    placeholder="Email"
    autofocus
  />
  <input
    type="password"
    name="password"
    id="password"
    class="form-control"
    placeholder="パスワード"
  />
  <div id="error-message" style="color: red; display: none"></div>
  <br />
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    ログイン
  </button>
  <br />
  <a class="lead pull-right" href="/signup">登録</a>
</form>

<script src="/static/js/validate.js"></script>
{{end}}
